<head>
  <link rel="stylesheet" type="text/css" href="../../assets/search.css" media="screen" />
</head>

<div class="container2">
<br>
<br>
<form class="searchthemgifs">
  <input id="searchtext", type="text", placeholder="Search all the gifs!">
  <button id="search">DO THE THING!</button>
</form>

<br>
<div class="gifsearchresults"></div>
</div>