<head>
  <link rel="stylesheet" type="text/css" href="../../assets/search.css" media="screen" />
</head>

<br>
WELCOME TO GIPHY!
<br>
<input id="searchtext", type="text", placeholder="Search all the gifs!">
<button id="search">DO THE THING!</button>
<br>
<div class="gifsearchresults"></div>